:root {
    --drop-dark: #000000;
    --drop-light: #ffffff;
    --drop-primary: #0061FF;
    --drop-primary-dark: #0057e5;
    --drop-primary-light: #B4D0E7;
    --drop-accent: #61082B;
    --drop-secondary: lightgray;
    --drop-secondary-lighter: #F5F5F5;
    --drop-dropdown: #F0EBE5;
    --drop-bg: #F8822C;
    --drop-bg-light: #F6F3F0;
    --drop-bg-dark: #1C1818;
    --drop-bg-green: #B4DC19;
    --drop-bg-page-light: #F7F5F2;
    --drop-bg-page-img: #EEE9E2;

    --drop-logo-asu: #61082B;
    --drop-logo-bicicle: #D5001F;
    --drop-logo-hearest: #B4D0E7;
}

/* #region Commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: .8rem;
}

a {
    text-decoration: none;
    color: var(--drop-dark);
}

button {
    border: none;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .8rem;
    cursor: pointer;
}

h1 {
    font-size: 3.2rem;
    font-weight: 400;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

h4 {
    font-size: .75rem;
}

p {
    font-size: .8rem;
}

hr {
    border: 1px solid var(--drop-secondary);
    border-bottom: none;
    border-right: none;
    border-left: none;
}

ul {
    list-style: none;
}

/* #endregion Commons */

/* #region Utilities */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-beetween {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.list-inline {
    list-style: none;
    gap: 0.8rem
}

.btn {
    background-color: var(--drop-primary);
    color: var(--drop-light);
    align-items: center;
}

.btn:hover {
    background-color: var(--drop-primary-dark);
}

.btn i.fa-arrow-right {
    margin-left: 2rem;
    margin-right: 1rem;
    transition: .2s;
}

.btn:hover i.fa-arrow-right {
    margin-left: 2.5rem;
    margin-right: .5rem;
    transition: .2s;
}

.container-xl,
.container-lg {
    margin: auto;
}

.container-xl {
    max-width: 1900px;
    width: 90%;
}

.container-lg {
    max-width: 1080px;
}

.container-slider {
    max-width: 1280px;
    margin: auto;
}

.border-gray {
    border: 1px solid var(--drop-secondary);
}

.col-3 {
    width: calc((100% / 12) * 3 - 4rem);
}

.col-4 {
    width: calc((100% / 12) * 4 - 1rem);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-12 {
    width: 100%;
}

.p-1 {
    padding: 1rem;
}

/* #endregion Utilities */

/* Header ------------------------------> */

header {
    background-color: var(--drop-light);

    & nav {
        height: 3.5rem;

        & li {
            height: 3.5rem;
        }

        & .link-hover:hover {
            background-color: var(--drop-dropdown);
            transition: .25s;
        }

        & .link-hover:hover .dropdown_content {
            display: block;
            display: flex;
        }
    }
}

.dropdown {
    position: relative;
}

.dropdown_content {
    position: absolute;
    display: none;
    background-color: var(--drop-dropdown);
    /* width: 100%; */
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
    top: 3.5rem;
    gap: 1rem;
    padding: 1rem 2rem 1rem 0;
    align-items: flex-start;


    & ul {
        width: 150px;
    }

    & li:first-child {
        font-weight: bold;
    }

    & li:first-child:hover {
        background-color: transparent;
        cursor: auto;
    }

    & li {
        width: 100%;
        height: 100%;
        font-size: .75rem;
        padding: .5rem 1rem;
        transition: .25s;
    }

    & li:hover {
        background-color: #E8E1D9;
        cursor: pointer;
    }
}

.single_list {
    padding: 1rem 0 .5rem 0;

    & ul {
        width: 230px;

        & .text .title {
            font-size: .8rem;

            opacity: .8;

        }

        & .text .description {
            font-size: .7rem;
            opacity: .5;

        }

        & li.d-flex {
            align-items: flex-start;
            gap: .5rem;
        }
    }
}

/* Hero Section  ------------------------------> */

section.apps,
section.amaze,
section.transactions,
section.contracts,
section.numbers,
section.quotes,
section.productivity,
section.faq {
    padding: 4rem 0;
}


section.hero {
    background-color: var(--drop-bg-green);
}

.hero_image {
    background-color: var(--drop-bg-green);
    max-height: 600px;

    & video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.hero_text {
    background-color: var(--drop-bg-dark);
    padding: 3rem 4rem;
    line-height: 3.5rem;
    width: 35%;
    color: var(--drop-bg-light);

    & p {
        margin-top: 1rem;
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: 300;
    }

    & .btn {
        background-color: #3984ff;
        padding: 1.5rem;
        font-size: 1.2rem;
        margin-top: 2.5rem;
        color: var(--drop-dark);
    }

    & .btn:hover {
        background-color: #5092fb;
    }
}

.hero_image {
    width: 65%;
}

.free_trial_btn {
    margin: 1rem 0;
}

.fa-arrow-down {
    font-size: 2rem;
    margin-top: 2.5rem;
}


/* Transactions - Contracts Section ------------------------------> */


section.transactions,
section.contracts {
    background-color: var(--drop-bg-page-light);
    height: 800px;

    & .image {
        background-color: var(--drop-bg-page-img);
        width: 60%;
        padding: 4rem;
        justify-content: center;
        overflow: hidden;
    }

    & .text {
        background-color: var(--drop-bg-page-light);
        gap: 1rem;
        width: 40%;
        padding: 4rem;

        & .text_box {
            width: 22rem;
            gap: 1rem;

            & h3 {
                font-size: 1.5rem;
                font-weight: 500;
            }

            & p {
                font-size: 1rem;
            }
        }
    }
}

section.contracts {
    & .text {
        justify-content: end;
    }
}


/* Team Section ------------------------------> */

section.team {
    background-color: var(--drop-bg-page-light);
    padding: 4rem 0 0 0;
    text-align: center;

    & .video {
        width: 100%;
        height: 700px;
        position: relative;
    }

    /* & .video::after {
        background-color: #000000b6;
        opacity: 1;
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        transition: .25s;
        border-radius: 1rem;
    }

    & .video:hover::after {
        opacity: 0;
        transition: .25s;
    } */
}


/* Transform Section ------------------------------> */

section.transform {
    & .card img {
        width: 100%;
    }
}


/* Amaze Section ------------------------------> */

section.amaze,
section.numbers,
section.productivity,
section.faq {
    background-color: var(--drop-bg-page-light);
    color: var(--drop-bg-dark);
    text-align: center;

    & .row {
        gap: 3rem;
        padding: 3rem 0;

        & img {
            width: 50px;
        }

        & .col-4 {
            gap: 1rem;
            text-align: left;
        }

        & h3,
        p {
            font-size: 1rem;
        }
    }
}


/* Apps section ---------------------------------------------> */

section.apps,
section.warranty,
section.productivity {

    & .top {
        text-align: center;
        gap: 1rem;

        & a {
            gap: .5rem;
        }

        & a span {
            text-decoration: underline;
            font-size: 1rem;
        }
    }
}

section.apps {
    background-color: var(--drop-bg-dark);
    color: var(--drop-light);

    & a {
        color: var(--drop-light);
    }

    & a span {
        color: var(--drop-light);
    }


    & .bottom {
        margin-top: 4rem;
        flex-wrap: wrap;

        gap: 4rem;

        & .col-3 {
            gap: 1rem;
        }

        & h3,
        p {
            font-size: 1rem;
        }

        & img {
            width: 50px;
        }
    }
}

/* Warranty section ----------------------------------------------> */

section.warranty {
    background-color: var(--drop-bg-page-light);
    color: var(--drop-bg-dark);
    padding-top: 4rem;

    & .top {
        padding-bottom: 4rem;
    }

    & a {
        color: var(--drop-bg-dark);
    }

    & a span {
        color: var(--drop-bg-dark);
    }

    & .bottom {

        & .left,
        .right {
            flex-grow: 1;
            width: 50%;
        }

        & .left {
            background-color: var(--drop-light);
            padding: 0 3rem;
        }

        & .right {
            padding: 3rem;
            background-color: var(--drop-bg-page-img);

            & img {
                width: 100%;
            }
        }
    }
}

/* FAQ ------------------------------> */


details {
    flex-grow: 1;
    transition: .25s;
}

.warranty .question,
.faq .question {
    padding: 2rem;
    border-top: 1px solid var(--drop-secondary);
    z-index: 1;
    height: 100%;
}

.warranty .questions_list,
.faq .questions_list {
    border-bottom: 1px solid var(--drop-secondary);
    height: 100%;
}

summary {
    cursor: pointer;
    list-style: none;

    & span {
        font-size: 1rem;
        font-weight: 600;
    }
}

.warranty summary {
    & span {
        font-size: 1.25rem;
        padding-right: 4rem;
    }
}

details:hover {
    background-color: var(--drop-bg-page-img);
}

.warranty .answer,
.faq .answer {
    text-align: left;
    padding: 0rem 4rem 2rem 2rem;
    color: gray;
}

.faq .answer p {
    font-size: 1rem;
}

summary i{
    transition: 0.2s;
}

details[open]>summary i{
    transform: rotate(180deg);
}


/* Numbers section --------------------------------> */

section.numbers,
section.productivity {
    & .col-3 {
        gap: 1.5rem;
        text-align: left;
    }
}

/* Quotes section --------------------------------> */

section.quotes {
    text-align: center;
    background-color: var(--drop-bg-dark);
    color: var(--drop-light);

    & h3 {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 2rem;
        padding-inline: 8rem;
    }

    & h4 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    & p {
        font-size: .9rem;
        margin-bottom: 2rem;
        font-weight: 300;
    }

    & .pagination {
        font-size: 1rem;
        gap: 1rem;

        & span {
            color: #6b6b6b;
        }

        & i {
            width: 40px;
            aspect-ratio: 1;
            transition: .25s;
        }

        & .fa-chevron-left {
            opacity: 0;
        }

        & .fa-chevron-right:hover {
            background-color: #3e3e3e;
            transition: .25s;
        }
    }
}

/* Quotes section --------------------------------> */

section.productivity {
    & .top p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    & .top a {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
}


/* FAQ Section ------------------------------> */

section.faq {
    padding-bottom: 10rem;

    & .container-lg{
        max-width: 900px;
    }

    & h2 {
        margin-bottom: 3rem;
    }
}


/* Call To Action Banner ------------------------------> */

.banner_call_to_action {
    background-color: var(--drop-bg-dark);
    color: var(--drop-light);
    text-align: center;
    padding: 5rem 0;
    text-align: start;

    & div h2 {
        width: 70%;
        padding-right: 8rem;
        line-height: 2.8rem;
    }

    & .button {
        width: 30%;
    }

    & .btn {
        background-color: #3984ff;
        color: var(--drop-bg-dark);
        padding: 1.5rem 1rem 1.5rem 2rem;
        font-size: 1.2rem;
    }

    & .btn:hover {
        background-color: #5092fb;
    }
}


/* Footer Styles ------------------------------> */

footer {
    padding: 5rem 0 3rem 0;
    background-color: var(--drop-dark);
    color: var(--drop-light);
}

.footer_top .footer_list {
    flex: 1;
}

.footer_top ul {
    list-style: none;
    margin-top: 1rem;
    color: var(--drop-light);
    line-height: 1.5rem;
}

.footer_top li a {
    color: var(--drop-light);
    font-size: .7rem;
}

.footer_bottom .line {
    width: 85px;
    border-top: 1px solid white;
    margin: 4rem 0 2rem 0;
}

.footer_bottom span {
    margin: 0 0.3rem;
}

.footer_bottom .fa-angle-up {
    font-size: .65rem;
}