:root {
    --drop-dark: #000000;
    --drop-light: #ffffff;
    --drop-primary: #0061FF;
    --drop-primary-light: #B4D0E7;
    --drop-accent: #61082B;
    --drop-secondary: lightgray;
    --drop-secondary-lighter: #F5F5F5;

    --drop-logo-designit: #A2D39B;
    --drop-logo-designit-light: #d3e6d0;
    --drop-logo-asu: #61082B;
    --drop-logo-florida: #0093CE;
    --drop-logo-topps: #FF1C1C;
    --drop-logo-bicicle: #D5001F;
    --drop-logo-hearest: #B4D0E7;
    --drop-logo-lonely: #0D2481;
    --drop-logo-clear: #FFD830;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: .8rem;
}

a {
    text-decoration: none;
    color: var(--drop-dark);
}

button {
    border: none;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .8rem;
    cursor: pointer;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.6rem;
}

h4 {
    font-size: .75rem;
}

p {
    font-size: .8rem;
}

hr {
    border: 1px solid var(--drop-secondary);
    border-bottom: none;
    border-right: none;
    border-left: none;
}


/* Utilities */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-beetween {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.list-inline {
    list-style: none;
    gap: 2rem
}

.btn {
    background-color: var(--drop-primary);
    color: var(--drop-light);
}

.btn-outline {
    background-color: var(--drop-light);
    border: 1px solid var(--drop-dark);
    color: var(--drop-dark);
}

.btn-light {
    background-color: var(--drop-light);
    color: var(--drop-dark);
}

.container-xl,
.container-lg,
.container-md {
    margin: auto;
}

.container-xl {
    max-width: 1900px;
    width: 90%;
}

.container-lg {
    max-width: 880px;
    /* width: 100%; */
}

.container-md {
    max-width: 760px;
    /* width: 100%; */
}

.border-gray {
    border: 1px solid var(--drop-secondary);
}

.col-4 {
    width: calc((100% / 12) * 4 - 1rem);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-12 {
    width: 100%;
}


/* Header ------------------------------> */

header {
    background-color: var(--drop-light);

    & nav {
        padding: 1rem 0;
    }
}


/* Hero Section  ------------------------------> */

section.hero {
    background-color: var(--drop-primary-light);
    padding-top: 3rem;
    height: 530px;
}

.hero_bottom {
    margin-top: 2rem;
}

.hero_image img {
    width: 110%;
}

.hero_text {
    width: 35%;
}

.hero_image {
    width: 65%;
}

.free_trial_btn {
    margin: 1rem 0;
}

.fa-arrow-down {
    font-size: 2rem;
    margin-top: 2.5rem;
}


/* Plans Section ------------------------------> */

section.plans {
    padding-top: 8rem;
    padding-bottom: 4rem;
    background-color: var(--drop-light);
}

.plans .container-md {
    gap: 1.5rem;
}

.billing label {
    margin-right: 2rem;
    margin-left: .45rem;
}

.plans_cards {
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card_top {
    border-bottom: 1px solid var(--drop-secondary);
    text-align: center;
    padding: .5rem 0;
}

.card_top i,
.card_center i,
.card_bottom i {
    margin-right: 0.25rem;
}

.card_center i,
.card_bottom i {
    padding-top: 0.25rem;
}

.card_center h3 {
    margin-bottom: .85rem;
}

.card_center .card_price {
    font-weight: 700;
}

.card_center>div:first-of-type {
    font-size: .7rem;
    margin-top: .3rem;
    margin-bottom: 2rem;
}

.card_center,
.card_bottom {
    padding: 1.5rem;
}

.card_bottom {
    position: relative;
    padding-bottom: 3rem;
}

.card_bottom i {
    color: var(--drop-primary);
}

.col-4 .line {
    position: absolute;
    width: 2rem;
    top: 0;
}

.feature {
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 1rem;
}

.card_features {
    margin-bottom: 2rem;
}

.feature span {
    font-size: .7rem;
}

.card_center button {
    margin-bottom: 1.5rem;
    width: 100%;
}

.card_center a {
    text-decoration: underline;
    color: blue;
}

.contact_card>div:nth-of-type(2) {
    gap: 1.5rem;
}

.card_left {
    padding: 1.5rem;
}

.card_left h3 {
    margin-bottom: 1rem;
}

.card_left h4 {
    margin-bottom: 2.5rem;
}

.card_right {
    padding: 1.5rem;
}


/* Partners Section ------------------------------> */

section.partners {
    padding: 4rem 0;
    background-color: var(--drop-light);
}

.partners .d-flex {
    gap: 2rem;
}

.partners .partners_image {
    width: 60%;
}

.partners .partners_text {
    width: 30%;
    padding: 2.5rem 0;
    gap: 1rem;
}

.partners .partners_image img {
    width: 100%;
}


/* Business Section ------------------------------> */

section.business {
    padding: 4rem 0;
    background-color: var(--drop-light);
}

.business_cards {
    margin-top: 2rem;
    flex-wrap: wrap;
    row-gap: 3rem;
    column-gap: 1.5rem;
}

.business_cards .card h3 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.business_cards .card img {
    width: 100%;
}


/* Clients Section ------------------------------> */

section.clients {
    padding: 4rem 0 0 0;
    background-color: var(--drop-light);
}

.clients h2 {
    margin-bottom: 2rem;
}

.clients a {
    text-decoration: underline;
    color: blue;
}

/* Logos --------->  */

.clients_logos {
    padding-top: 4rem;
}

.clients_logos .left,
.clients_logos .center,
.clients_logos .right {
    aspect-ratio: 1;
    flex-wrap: wrap;
    width: calc(100% / 3);
}

.clients_logos .center {
    padding: 3rem;
    background-color: var(--drop-secondary-lighter);
}

.clients_logos .center img {
    filter: none;
    width: 35%;
}

.clients_logos .logo {
    width: 50%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients_logos img {
    filter: invert(1);
    width: 50%;
}

.clients_logos .left .logo:first-child {
    background-color: var(--drop-logo-designit);
    border: .8rem solid var(--drop-logo-designit-light);
}

.clients_logos .left .logo:nth-child(2) {
    background-color: var(--drop-logo-asu);

    & img {
        width: 35%;
    }
}

.clients_logos .left .logo:nth-child(3) {
    background-color: var(--drop-logo-florida);
}

.clients_logos .left .logo:nth-child(4) {
    background-color: var(--drop-logo-topps);

    & img {
        width: 40%;
    }
}

.clients_logos .line {
    width: 80px;
    margin: 2rem 0;
}

.clients_logos p {
    margin: 2rem 0;
}

.clients_logos .right .logo:first-child {
    background-color: var(--drop-logo-bicicle);
}

.clients_logos .right .logo:nth-child(2) {
    background-color: var(--drop-logo-hearest);

    & img {
        width: 70%;
    }
}

.clients_logos .right .logo:nth-child(3) {
    background-color: var(--drop-logo-lonely);
}

.clients_logos .right .logo:nth-child(4) {
    background-color: var(--drop-logo-clear);
}


/* Call To Action Section ------------------------------> */

section.call_to_action {
    padding: 6rem 0;
    background-color: var(--drop-primary-light);
}

.call_to_action h2 {
    color: var(--drop-accent);
}

.call_to_action .col_title {
    width: 60%;
}

.call_to_action .col_button {
    width: 40%;
    text-align: end;
}


/* FAQ Section ------------------------------> */

section.faq {
    padding: 6rem 0;
    background-color: var(--drop-light);
}

.faq h2 {
    margin-bottom: 2rem;
}

.faq .question {
    padding: 2rem 2rem 2rem 0;
    border-top: 1px solid var(--drop-dark);
}

.faq .question:last-child {
    border-bottom: 1px solid var(--drop-dark);
}


/* Footer Styles ------------------------------> */

footer {
    padding: 5rem 0 3rem 0;
    background-color: var(--drop-dark);
    color: var(--drop-light);
}

.footer_top .footer_list {
    flex: 1;
}

.footer_top ul {
    list-style: none;
    margin-top: 1rem;
    color: var(--drop-light);
    line-height: 1.5rem;
}

.footer_top li a {
    color: var(--drop-light);
    font-size: .7rem;
}

.footer_bottom .line {
    width: 85px;
    border-top: 1px solid white;
    margin: 4rem 0 2rem 0;
}

.footer_bottom span {
    margin: 0 0.3rem;
}

.footer_bottom .fa-angle-up {
    font-size: .65rem;
}