:root {
    --drop-dark: #000000;
    --drop-light: #ffffff;
    --drop-primary: #0061FF;
    --drop-primary-dark: #0057e5;
    --drop-primary-light: #B4D0E7;
    --drop-accent: #61082B;
    --drop-secondary: lightgray;
    --drop-secondary-lighter: #F5F5F5;
    --drop-dropdown: #F0EBE5;
    --drop-bg: #F8822C;
    --drop-bg-light: #F6F3F0;
    --drop-bg-dark: #1C1818;
    --drop-bg-green: #B4DC19;

    --drop-logo-asu: #61082B;
    --drop-logo-bicicle: #D5001F;
    --drop-logo-hearest: #B4D0E7;
}


/* #region Commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: .8rem;
}

a {
    text-decoration: none;
    color: var(--drop-dark);
}

button {
    border: none;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .8rem;
    cursor: pointer;
}

h1 {
    font-size: 3.2rem;
    font-weight: 400;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

h4 {
    font-size: .75rem;
}

p {
    font-size: .8rem;
}

hr {
    border: 1px solid var(--drop-secondary);
    border-bottom: none;
    border-right: none;
    border-left: none;
}

/* #endregion Commons */

/* #region Utilities */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-beetween {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.list-inline {
    list-style: none;
    gap: 0.8rem
}

.btn {
    background-color: var(--drop-primary);
    color: var(--drop-light);
    align-items: center;
}

.btn:hover {
    background-color: var(--drop-primary-dark);
}

.btn i.fa-arrow-right {
    margin-left: 2rem;
    margin-right: 1rem;
    transition: .2s;
}

.btn:hover i.fa-arrow-right {
    margin-left: 2.5rem;
    margin-right: .5rem;
    transition: .2s;
}

.container-xl,
.container-lg {
    margin: auto;
}

.container-xl {
    max-width: 1900px;
    width: 90%;
}

.container-lg {
    max-width: 1080px;
}

.container-slider {
    max-width: 1280px;
    margin: auto;
}

.border-gray {
    border: 1px solid var(--drop-secondary);
}

.col-4 {
    width: calc((100% / 12) * 4 - 1rem);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-12 {
    width: 100%;
}

.p-1 {
    padding: 1rem;
}

/* #endregion Utilities */

/* Header ------------------------------> */

header {
    background-color: var(--drop-light);

    & nav {
        height: 3.5rem;

        & li {
            display: flex;
            align-items: center;
            height: 3.5rem;
        }

        & .link-hover:hover {
            background-color: var(--drop-dropdown);
            transition: .25s;
        }

        & .link-hover:hover .dropdown_content {
            display: block;
            display: flex;
        }
    }
}

.dropdown {
    position: relative;
}

.dropdown_content {
    position: absolute;
    display: none;
    background-color: var(--drop-dropdown);
    min-width: 100%;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
    top: 3.5rem;
    gap: 1rem;
    padding: 1rem 2rem 1rem 0;
    align-items: flex-start;

    & ul {
        width: 150px;
    }

    & li:first-child {
        font-weight: bold;
        font-size: .85rem;
    }

    & li:first-child:hover {
        background-color: transparent;
        cursor: auto;
    }

    & li {
        width: 100%;
        height: 100%;
        font-size: .75rem;
        padding: .5rem 1rem;
    }

    & li:hover {
        background-color: #E8E1D9;
        cursor: pointer;
    }
}


/* Hero Section  ------------------------------> */

.hero_image {
    background-color: var(--drop-bg-green);
    max-height: 600px;
    align-items: center;
    justify-content: center;

    & video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.hero_text {
    background-color: var(--drop-bg-dark);
    padding: 3rem 4rem;
    line-height: 3.5rem;
    width: 35%;
    color: var(--drop-bg-light);

    & p {
        margin-top: 1rem;
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: 300;
    }

    & .btn {
        background-color: #3984ff;
        padding: 1.5rem;
        font-size: 1.2rem;
        margin-top: 2.5rem;
        color: var(--drop-dark);
    }

    & .btn:hover {
        background-color: #5092fb;
    }
}

.hero_image {
    width: 65%;
}

.free_trial_btn {
    margin: 1rem 0;
}

.fa-arrow-down {
    font-size: 2rem;
    margin-top: 2.5rem;
}


/* Transactions - Contracts Section ------------------------------> */


section.transactions,
section.contracts {
    padding: 4rem 0;
    height: 800px;

    & .image {
        background-color: var(--drop-bg-light);
        width: 60%;
        padding: 4rem;
        justify-content: center;
    }

    & .text {
        background-color: var(--drop-light);
        gap: 1rem;
        width: 40%;
        padding: 4rem;
        align-items: center;

        & .text_box {
            width: 22rem;
            gap: 1rem;

            & h3 {
                font-size: 1.5rem;
                font-weight: 500;
            }

            & p {
                font-size: 1rem;
            }
        }
    }
}

section.contracts {
    & .text {
        justify-content: end;
    }
}


/* Further Info Section ------------------------------> */

section.further_info {
    background-color: var(--drop-bg-light);
    color: var(--drop-bg-dark);

    & .card {

        & a {
            color: var(--drop-bg-dark);
        }
    }
}


/* Transform Section ------------------------------> */

section.transform {
    & .card img {
        width: 100%;
    }
}


/* Banner ------------------------------> */

.banner {
    background-color: var(--drop-bg-light);
    text-align: center;
    padding: 5rem 0;
}


/* Slider --------------------------------------------->  */

.splide__slide {
    padding: 6.5rem;

    & .image {
        width: 35%;
        aspect-ratio: 1;
        /* background-color: var(--drop-logo-asu); */
        align-items: center;
        justify-content: center;

        & img {
            width: 40%;
            filter: invert();
        }
    }

    & .text {
        width: 65%;
        padding: 3rem;
        justify-content: center;

        & p {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        & h5 {
            font-size: 1rem;
        }

    }
}

.splide__arrow.splide__arrow--next,
.splide__arrow.splide__arrow--prev {
    background: transparent;
    font-size: 2rem;
}

.splide__arrow.splide__arrow--prev {
    margin-left: -2rem;
    display: none;
}

.splide__arrow.splide__arrow--next {
    margin-left: 2rem;
    display: none;
}

.splide:hover .splide__arrow.splide__arrow--next,
.splide:hover .splide__arrow.splide__arrow--prev {
    display: block;
}

.splide__slide:first-child .image {
    background-color: var(--drop-logo-asu);
}

.splide__slide:nth-child(2) .image {
    background-color: var(--drop-logo-bicicle);
}

.splide__slide:nth-child(3) .image {
    background-color: var(--drop-logo-hearest);
}


/* Call To Action Banner ------------------------------> */

.banner_call_to_action {
    background-color: var(--drop-bg-dark);
    color: var(--drop-light);
    text-align: center;
    padding: 5rem 0;
    text-align: start;

    & div h2 {
        width: 70%;
        padding-right: 8rem;
        line-height: 2.8rem;
    }

    & .button {
        width: 30%;
    }

    & .btn {
        background-color: #3984ff;
        color: var(--drop-bg-dark);
        padding: 1.5rem 1rem 1.5rem 2rem;
        font-size: 1.2rem;
    }

    & .btn:hover {
        background-color: #5092fb;
    }
}


/* Footer Styles ------------------------------> */

footer {
    padding: 5rem 0 3rem 0;
    background-color: var(--drop-dark);
    color: var(--drop-light);
}

.footer_top .footer_list {
    flex: 1;
}

.footer_top ul {
    list-style: none;
    margin-top: 1rem;
    color: var(--drop-light);
    line-height: 1.5rem;
}

.footer_top li a {
    color: var(--drop-light);
    font-size: .7rem;
}

.footer_bottom .line {
    width: 85px;
    border-top: 1px solid white;
    margin: 4rem 0 2rem 0;
}

.footer_bottom span {
    margin: 0 0.3rem;
}

.footer_bottom .fa-angle-up {
    font-size: .65rem;
}