:root {
    --drop-dark: #000000;
    --drop-light: #ffffff;
    --drop-primary: #0061FF;
    --drop-primary-light: #B4D0E7;
    --drop-accent: #61082B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: .8rem;
}

a {
    text-decoration: none;
    color: var(--drop-dark);
}

button {
    border: none;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .8rem;
}

h1 {
    font-size: 3.5rem;
}


/* Debug */

.debug header {
    background-color: rgb(212, 255, 241);
}



/* Utilities */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-beetween {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.list-inline {
    list-style: none;
    gap: 2rem
}

.btn {
    background-color: var(--drop-primary);
    color: var(--drop-light);
}

/* .btn-outline{

} */


.container-xl {
    max-width: 1900px;
    margin: auto;
    width: 90%;
}

.container-lg {
    max-width: 820px;
    margin: auto;
    width: 100%;
}

.container-md {}


/* Header */

nav {
    padding: 1rem 0;
}

/* Hero Section */

section.hero {
    background-color: var(--drop-primary-light);
    padding-top: 3rem;
    height: 500px;
}

.hero_bottom{
    margin-top: 2rem;
}

.hero_image img {
    width: 110%;
}

.hero_text {
    width: 35%;
}

.hero_image {
    width: 65%;
}

.free_trial_btn{
    margin: 1rem 0;
}

.fa-arrow-down{
    font-size: 2rem;
    margin-top: 2.5rem;
}